*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-mode: #191919;
    --light-content: #A7A7A7;
    --gradient-heading: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    --hero-heading: #D9D9D9;
    --solid-heading-dark-mode: #CCC;
}

html{
    background: var(--dark-mode);
    font-family: Poppins;
    font-size: 62.5%; 
    /* 1rem = 10px */
    text-decoration: none;
    /* overflow-x: hidden; */
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    padding-top: 4rem;
    margin: 4rem 0rem;
    border-top: 2px solid var(--solid-heading-dark-mode);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.nav-link{
    justify-content: center;
}

.nav-link a{
    text-decoration: none;
    color: var(--light-content);
    text-align: center;
    font-family: DM Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}

.nav-link a::before{
    content: "";
    width: 0;
}
.nav-link a::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: all 0.19s ease-in;
}
.nav-link a:hover::after{
    width: 100%;
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link a:hover{
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    padding: 1.5rem 3rem;
}

.gradient-text{
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    font-family: Poppins;
    font-weight: 700;
    cursor: pointer;
}

/* Hero Section */

#hero{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    gap: 3rem;
}

.profile-img-wrapper{
    width: 400px;
    flex-shrink: 0;
    background: var(--gradient-heading);
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.001rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 8.1rem;
}

.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--dark-mode);
}

.hero-content{
    color: var(--hero-heading);
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -1px;
}
  
.socail-links img {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 2rem 0.5rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
  
.socail-links img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.2);
}  
  
.hero-content .gradient{
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradient{
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc{
    font-size: 5rem;
}

/* Tech Stack */

#tech-stack{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 4rem;
    min-height: 100vh;
}

.section-heading{
    color: var(--solid-heading-dark-mode);
    text-align: center;
    font-family: Poppins;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.sub-section-heading{
    color: var(--light-content);
    text-align: center;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

#project .section-heading{
    margin: 2rem 0rem;
}
.tech-img{
    display: flex;
    gap: 7rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-img img{
    width: 12rem;
    height: 12rem;
}

/* About Me */

#about-me{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 4rem;
    min-height: 100vh;
    padding: 0rem 10rem;
}

.about-headings{
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
    letter-spacing: -0.4px;
    margin-bottom: 5rem;
    text-align: center;
}

.about-info{
    color: var(--dark-content, #ccc);
    font-family: Poppins;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10rem;
    line-height: 4rem; /* 144.444% */
}


/* Project-section */
#porject{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 4rem;
    min-height: 100vh;
}

.project-details{
    padding: 2rem;
}

.project-title{
    color: var(--solid-heading-dark-mode);
    text-align: center;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    /* 92.857% */
}

.project-info{
    color: var(--solid-heading-dark-mode);
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    margin: 1rem 0;
}

.projects-links img{
    width: 20px;
    height: 20px;
}

.projects-links a{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
}

.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.project-card{
    width: 373px;
    height: 567px;
    border-radius: 20px;
    background: #363636;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}

.project-card-img{
    width: 373px;
}

/* Media quaries */

@media all and (width <=760px){
    footer{
        flex-direction: column;
    }
    footer .socail-links{
        order: -1;
    }
    footer .gradient-text{
        order: 1;
    }
}

@media all and (width <=480px){
    .nav-link{
        gap: 3rem;
    }
    .profile-img-wrapper{
        width: 380px;
    }
    footer .nav-link{
        gap: 3rem;
    }
}

@media all and (width <=435px){
    .nav-link{
        gap: 1.5rem;
    }
    .profile-img-wrapper{
        width: 350px;
    }
    .section-heading{
        font-size: 3.8rem;
    }
    .sub-section-heading{
        font-size: 2.4rem;
    }
    .project-card{
        width: 260px;
        height: 480px;
    }
    .project-card-img {
        width: 260px;
    }
    .project-title{
        font-size: 2rem;
    }
    .project-info {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .projects-links a{
        font-size: 1.5rem;
    }
}

@media all and (width <=400px){
    .nav-link{
        gap: 0.7rem;
    }
    .profile-img{
        width: 300px;
    }
    #hero{
        margin-top: 0;
    }
    .profile-img-wrapper{
        width: 310px;
        margin: 0;
    }
    .gradient-text{
        text-align: center;
    }
    footer .nav-link{
        flex-wrap: wrap-reverse;
    }
}

@media all and (width <=320px){
    .nav-link{
        flex-direction: column;
    }
    .profile-img-wrapper{
        width: 280px;
    }
    .profile-img{
        width: 270px;
    }
    .gradient-text{
        align-items: center;
    }
}

@media all and (width <=565px){
    header{
        flex-direction: column;
    }
    .container{
        padding: 1.2rem 2rem;
    }
}

@media all and (width <=660px){
    header{
        flex-direction: column;
        margin: 0rem;
    }
}

@media all and (width <=960px){

    header{
        justify-content: space-evenly;
    }
    #hero{
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .profile-img-wrapper{
        order: -1;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .gradient-text{
        font-size: 2.5rem;
    }
    #hero-content{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    #tech-stack{
        gap: 4rem;
    }
}
